[submodule "thirdparty/Catch2"]
	path = thirdparty/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "thirdparty/nlohmann"]
	path = thirdparty/nlohmann
	url = https://github.com/nlohmann/json.git
